@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --swiper-theme-color: black !important;
    /* Change to red color */
}

.all#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 600px; */
    /* padding: 4rem 2rem 8rem 2rem; */
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    overflow-y: auto;
}

.closing {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999999;
    width: fit-content;
}

.closeBtn {
    position: relative;
    width: 6em;
    height: 4em;
    border: none;
    border-top-right-radius: 1rem;
}

.X {
    content: '';
    position: absolute;
    top: 50%;
    left: 33%;
    width: 2em;
    height: 1.5px;
    background-color: maroon;
    transform: rotate(45deg);
}

.Y {
    content: '';
    position: absolute;
    top: 50%;
    left: 33%;
    width: 2em;
    height: 1.5px;
    background-color: maroon;
    transform: rotate(-45deg);
}

.closeBtn:hover>.close {
    animation: close 0.2s forwards 1.25s;
}

/* Category */

.category-1 {
    background-image: url(./photos/fashion.png);
    background-position: center;
    background-size: cover;
}

.category-2 {
    background-image: url(./photos/foods.png);
    background-position: center;
    background-size: cover;
}

.category-3 {
    background-image: url(./photos/drinks.png);
    background-position: center;
    background-size: cover;
}

.category-4 {
    background-image: url(./photos/fashion.png);
    background-position: center;
    background-size: cover;
}

.category-5 {
    background-image: url(./photos/others.png);
    background-position: center;
    background-size: cover;
}

/* Swiper */

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    aspect-ratio: 1/1;
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
}

/* .swiper-button-next, .swiper-button-prev{
    color: black;
} */

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Manrope";

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* max-width: 100%; */
    /* overflow-x: hidden; */
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
}

ul {
    list-style: none;
    /* Color highlighting when pressed on mobile devices */
    /*-webkit-tap-highlight-color: transparent;*/
}

a {
    text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .5);
    z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
}

.nav__burger,
.nav__close {
    color: var(--black-color);
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: 900;
    font-size: 30px;
    /* Color highlighting when pressed on mobile devices */
    /*-webkit-tap-highlight-color: transparent;*/
}


.nav__toggle {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 35px;
}

.nav__burger,
.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav__close {
    opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
    .nav__menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 2rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }

    .nav {
        height: 8rem;
    }

    .nav__menu::-webkit-scrollbar {
        width: 0;
    }

    .nav__list {
        background-color: white;
        box-shadow: 0 2px 16px hsla(220, 32%, 8%, .5);
        padding: 2rem;
    }

    #designregister {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.nav__link {
    padding: 9px 20px;
    margin-top: 16.5px;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* transition: background-color .3s; */
}

/* Show menu */
.show-menu {
    opacity: 1;
    top: 7rem;
    pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
    cursor: pointer;
}

.dropdown__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.dropdown__link,
.dropdown__sublink {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: var(--white-color);
    background-color: var(--black-color-light);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-semi-bold);
    transition: background-color .3s;
}

.dropdown__link i,
.dropdown__sublink i {
    font-size: 1.25rem;
    font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
    background-color: var(--black-color);
}

.dropdown__menu,
.dropdown__submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover>.dropdown__submenu {
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
    margin-left: auto;
}

.dropdown__sublink {
    background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .nav__logo {
        font-size: 40px;
    }

    .nav__link {
        font-size: 25px;

    }
}

/*For tablet*/
@media screen and (min-width: 768px) {
    .nav__logo {
        font-size: 40px;
    }

    .nav__link {
        font-size: 25px;

    }
}

/* For large devices */
@media screen and (min-width: 1118px) {
    .container {
        margin-inline: auto;
    }

    .nav__logo {
        font-size: 30px;
    }

    .nav__link {
        font-size: 20px;
    }

    .nav {
        height: calc(var(--header-height));
        display: flex;
        justify-content: space-between;
    }

    .nav__toggle {
        display: none;
    }

    .nav__list {
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }

    .nav__link {
        justify-content: initial;
        column-gap: .25rem;
        transition: .3s ease;
    }

    .dropdown__item,
    .dropdown__subitem {
        position: relative;
    }

    .dropdown__menu,
    .dropdown__submenu {
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
    }

    .dropdown__link,
    .dropdown__sublink {
        padding-inline: 1rem 3.5rem;
    }

    .dropdown__subitem .dropdown__link {
        padding-inline: 1rem;
    }

    .dropdown__submenu {
        position: absolute;
        left: 100%;
        top: .5rem;
    }

    /* Show dropdown menu */
    .dropdown__item:hover .dropdown__menu {
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top .3s;
    }

    /* Show dropdown submenu */
    .dropdown__subitem:hover>.dropdown__submenu {
        opacity: 1;
        top: 0;
        pointer-events: initial;
        transition: top .3s;
    }
}