
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GayaleCorner</title>
    <link rel="stylesheet" href="login.css">
</head>
<style>
    body {
        color: rgb(255, 255, 255);
    }

    h3 {
            font-weight: bold;
            color : #ffffff
        }
        
        
    </style>
<body>
    <div class="wrapper">
        <div class="sct brand"><h3>Gayale</h3>
        </div>
        <div class="sct login">
            <a href="#" class="back-button">&larr; Back</a>
        <div class="sct login">
            <form>
                <h3>Sign Up</h3>
                If you don't have an account Register <br>
                You can <a href="login.html" class="register-link">Login here!</a>. <br><br>
                <p><b>Home Address</b></p>
                <input type="email" name="email" placeholder="🏡 Enter your Home Address "> 
                <p><b>Email</b></p>
                <input type="email" name="email" placeholder="✉ Enter your Email "> 
                <p><b>Username</b></p>
                <input type="email" name="email" placeholder="🙎🏻‍♂️ Enter your Username ">
                <p><b>Phone</b></p>
                <input type="email" name="email" placeholder="📞 Enter your Email "> 
                <p><b>Password</b></p>
                <input type="password" name="password" placeholder="🔐 Enter your Password">
                <p><b>Confirm Password</b></p>
                <input type="password" name="password" placeholder="🔐 Confirm Your Password">
                <div class="forgot-remember">
                        <label class="control control-checkbox">
                                Remember Me                            
                                    <input type="checkbox" />
                                <div class="control_indicator"></div>
                            </label>
                </div>
                <input type="submit" name="send" value="Register">
                <p class="text-center">🔐 Your info is safety secured<br><i class="fa fa-hand-o-down" aria-hidden="true"></i></p>
                <div class="social-sign">
                    <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </div>
            </form>
        </div> 
    </div> 
    
</body>
</html>
