@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: "Manrope";
}
.container{
    text-align: center;
}

body{
    margin-top: 8.5rem;
}

.cartTitle{
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 3.62rem;
}

.itemContainer{
    margin: 0 auto;
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 20px;
}

.item{
    display: flex;
    width: 70rem;
    height: 14.375rem;
    justify-content: space-between;
    border-radius: 0.9375rem;
    background: var(--White, #F7F7FF);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.itemSection{
    display: flex;
    align-items: center;
    flex: 25%;
}

.checkbox{
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.delete{
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete > form > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.pic > img{
    width: 10.25rem;
    height: auto;
}

.infoContent{
    text-align: start;
    margin: 20px;
}

.infoContent > h3, .infoContent> p{
    margin: 0;
    font-size: 2rem;
}

.infoCount{
    display: flex;
    justify-content: space-around;
    gap: 2.5rem;
}

.infoCount > h3{
    font-size: 2rem;
    margin: 1rem 0;
}

.countBtn{
    border-radius: 0.3125rem;
    color: var(--Crusta, #F98538);
    background: var(--Tiber, #08243A);
    height: 3.0625rem;
    width:3.0625rem;
    font-weight: bold;
    margin: auto;
}

.countBtn > img{
    margin: auto;
}

.total{
    display: flex;       
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.total > h3, .total > p{
    font-size: 1.75rem;
    margin: 0;
}

button{
    transition: 300ms;
    cursor:pointer;
}

button:hover{
    filter: brightness(80%);
    scale: 1.2;
}

.checkoutBtn{
    display: inline-flex;
    padding: 0.625rem 4.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.375rem;
    background: #FE8A3B;
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
    border: none;
    width: 19.68rem;
    height: 4.625rem;
    margin: 0 auto;
    font-size: 2.25rem;
    color: white;
    font-weight: bold;
    margin: 5rem 0;
}

.checkoutBtn:hover{
    scale: 1.08;
}

input[type="checkbox"] {
    scale: 2;
    border-radius: 4px;
}

/* Styles for the checkbox when checked */
input[type="checkbox"]:checked {
    /* Your styles for the checked state go here */
    /* For example, you can change the background color or add a border */
    background-color: var(--Crusta, #F98538);; /* Green background when checked */
    border: 2px solid var(--Crusta, #F98538);; /* Dark green border when checked */
}